body {
    margin: 0;
    text-align: center;
}

.aboutMeHeader{
  text-align: center;
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 45px;
}

.aboutMeParagraph{
  text-align: left;
  margin: 30px;
  font-size: 25px;
  border: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
}

.italyImgWrap{
  float: right;
  margin: 10px;
}

.tetrisImgWrap{
  float: right;
  margin: 30px;
}

.button {
  border: none; 
  color: rgb(255, 255, 255);
  padding: 16px 16px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 20px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 9px #666;
}

.shell-one{
  width: 100px;
  height: 50px;
  background-image: url(/shell-one.png);
  border: none;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #000000;
  border-radius: 20px;
}

.button1:hover {
  background-color: #500000;
  color: white;
}

.button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #000000;
  border-radius: 20px;
}

.button2:hover {
  background-color: #dad5b9;
  color: white;
}

.projectHeader{
  text-align: center;
  margin-left: 30px;
  font-size: 35px;
}

.project1Paragraph{
  text-align: left;
  margin: 40px;
  font-size: 20px
}

.footerOne{
  text-align: center;
  padding: 10px;
  background-color: #500000;
  color: white;
  margin-top: 20px;
}