body {
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure the body takes up the full viewport height */
    background: linear-gradient(to bottom, #500000, #aaaaaa); /* Gradient from pink to orange */
    color: white;
    text-align: center;
}
h2{
    font-family: 'Optima';
    width: 150px;
  height: 25px;
  padding: 5px;
  border: 5px solid black;
  margin: 10px;
}
